@page "/"
@using CaribbeanSailboat.Components

<PageTitle>Caribbean Charters - Login</PageTitle>

<div class="login-page">
    <div class="container col-lg-6 col-md-6">
        <div class="title">Caribbean Charters</div>

        <input name="username" placeholder="username" @bind-value="@username" type="text" autocomplete="off">
        <input name="password" placeholder="password" @bind-value="@password" type="@(showPassword ? "text" : "password")">

        <span class="show-password">
            <InputCheckbox @bind-Value="@showPassword" /> Show Password
        </span>

    <div class="login">
        <input class="login-btn" type="submit" value="LOGIN" @onclick="OnLogin">
    </div>
    </div>
</div>

<Overlay @ref=overlay>
    <Alert Message="@message" AlertType="@alertType" Close="(() => overlay?.Hide())" />
</Overlay>