@page "/rental"
@using CaribbeanSailboat.Components

<PageTitle>C.S.Charters - Rental</PageTitle>


<div class="container">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <StandardButton Text="ADD or RETURN" Click="ToggleCharter" Radius="5px" />
        </div>
    </div>
</div>


<!--Container ADD Charter-->
<div class="container border mt-3 pb-3 @(isReturnCharter ? "disabled-div" : "glow-border")">

    <h2 class="m-2">Add Charter</h2>

    <!--CUSTOMER-->
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-1 col d-flex align-items-center">
            <button type="button" class="btn btn-primary btn-sm m-2" @onclick="FindOrAddCustomer">Customer</button>
        </div>
        <div class="col-md-auto">
            <Switch OnText="Old" OffText="New" ValueChanged="(val) => existingCustomer = !val" />
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="cust-email">E-Mail:</label>
                <input type="text" class="form-control" id="cust-email" @bind-value=customer.Email>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="cust-fname">Firstname:</label>
                <input type="text" class="form-control" id="cust-fname" disabled=@existingCustomer
                    @bind-value=customer.FirstName>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="cust-lname">Lastname:</label>
                <input type="text" class="form-control" id="cust-lname" disabled=@existingCustomer
                    @bind-value=customer.LastName>
            </div>
        </div>
    </div>
    <hr />

    <!--BOAT-->
    <div class="row flex-grow-1 d-flex align-items-center justify-content-center mt-3">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-sm mt-4 ms-2" @onclick="FindBoat">Find Boat</button>
        </div>

        <div class="col-md">
            <div class="form-group">
                <label for="boat-name">Boat name:</label>
                <input type="text" class="form-control" id="boat-name" @bind-value="boat.Name">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="boat-size">Boat size:</label>
                <input type="text" class="form-control" id="boat-size" disabled @bind-value="boat.Size">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="boat-cost">Rental cost:</label>
                <input type="number" class="form-control" id="boat-cost" disabled @bind-value="boat.RentalCost">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="boat-id">Boat Id:</label>
                <input type="number" class="form-control" id="boat-id" disabled @bind-value="boat.BoatId">
            </div>
        </div>
    </div>
    <hr />

    <!--CHARTER-->
    <div class="row d-flex align-items-center justify-content-center mt-3">
        <div class="col-md">
            <div class="form-group">
                <label for="charter-custid">Customer Id:</label>
                <input type="number" class="form-control" id="charter-custid" disabled @bind-value=customer.CustomerId>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="charter-boatid">Boat Id:</label>
                <input type="number" class="form-control" id="charter-boatid" disabled @bind-value=boat.BoatId>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="charter-startdate" class="form-label">Start Date:</label>
                <input id="charter-startdate" type="date" class="form-control" @bind="charterStartDate" />
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="charter-enddate" class="form-label">End Date:</label>
                <input id="charter-enddate" type="date" class="form-control" @bind="charterEndDate" />
            </div>
        </div>
    </div>
</div>

<!--Container RETURN Charter-->
<div class="container border mt-5  pb-3 @(isReturnCharter ? "glow-border" : "disabled-div")">

    <h2 class="m-2">Return Charter</h2>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md mt-2">
            <div class="form-group">
                <label for="charter-retid">Charter ID:</label>
                <input type="number" class="form-control" id="charter-retid" @bind-value="charterId">
            </div>
        </div>
    </div>
</div>

<!--SUBMIT-->
<div class="container border mt-5">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <StandardButton Text="SUBMIT" Click="SubmitRequest" Radius="5px"
                IsEnabled="@( (isReturnCharter && charterId > 0) || (!isReturnCharter &&(customer.CustomerId > 0 && boat.BoatId > 0)))" />
        </div>
    </div>
</div>


<!--For showing ALERT messages-->
<Overlay @ref=overlay>
    <Alert Message="@message" AlertType="@alertType" Close="(() => overlay?.Hide())" />
</Overlay>
