@page "/rental"
@using CaribbeanSailboat.Components

<PageTitle>C.S.Charters - Rental</PageTitle>



<div class="container">

    <!--CUSTOMER Container-->
    <h1 class="display-6 mt-4">Customer</h1>
    <div class="row d-flex border align-items-center justify-content-center">
        <div class="col-md-2">
            <Switch OnText="Old" OffText="New" ValueChanged="(val) => toggleCustomer = !val" />
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field1">FirstName:</label>
                <input type="text" class="form-control" id="field1" disabled=@toggleCustomer>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field2">LastName:</label>
                <input type="text" class="form-control" id="field2" disabled=@toggleCustomer>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field3">Email:</label>
                <input type="text" class="form-control" id="field3">
            </div>
        </div>

        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <StandardButton Text="Find/Add Cunstomer" Click="@FindOrAddCustomer" />
            </div>
        </div>
    </div>

    <!--BOAT Container-->
    <h1 class="display-6 mt-4">Boat</h1>
    <div class="row flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="col-md">
            <div class="form-group">
                <label for="field2">Name:</label>
                <input type="text" class="form-control" id="name" @bind-value="selectedBoatName">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field2">Size:</label>
                <input type="text" class="form-control" id="size" disabled @bind-value="selectedBoat.Size">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field3">Rental Cost:</label>
                <input type="text" class="form-control" id="cost" disabled @bind-value="selectedBoat.RentalCost">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="field3">ID:</label>
                <input type="text" class="form-control" id="boatid" disabled @bind-value="selectedBoat.BoatId">
            </div>
        </div>

        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <StandardButton Text="Find Boat" Click="@FindBoat" />
            </div>
        </div>
    </div>
    <hr />

    <!--CHARTER Container-->
    <h1 class="display-6 mt-4">Charter</h1>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md">
            <div class="form-group">
                <label for="field1">Customer ID:</label>
                <input type="text" class="form-control" id="field1" disabled>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field2">Boat ID:</label>
                <input type="text" class="form-control" id="field2" disabled @bind-value=selectedBoat.BoatId>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field3">Start Date:</label>
                <input type="text" class="form-control" id="field3">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="field3">End Date:</label>
                <input type="text" class="form-control" id="field3">
            </div>
        </div>

        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <StandardButton Text="Submit Charter" Click="@SubmitCharter" />
            </div>
        </div>
    </div>
    <hr />
</div>


<Overlay @ref=overlay>
    <Alert Message="@message" AlertType="@alertType" Close="(() => overlay?.Hide())" />
</Overlay>

@* <div class="row">
<div class="col">
<!-- Content for the first container -->
<div class="border p-3">
<StandardButton Text="Add CUSTOMER" Click="@OnClick" />
</div>
</div>
<div class="col">
<!-- Content for the second container -->
<div class="border p-3">
@if (boatList is not null)
{
@foreach (var boat in boatList)
{
@boat.Name @boat.Size
<div>@boat.Name @boat.Size @boat.RentalCost</div>
}
}

</div>
</div>
<div class="col">
<!-- Content for the third container -->
<div class="border p-3">
@if (customer != null)
{
<div>@customer.FirstName @customer.LastName, @customer.Email</div>
}
</div>
</div>
</div> *@
